<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Event",
      "name": "{{ site.title }}",
      "startDate": "{{ site.festival_start }}",
      "endDate": "{{ site.festival_end }}",
      "isAccessibleForFree": true,
      "organizer": {
        "@type": "Organization",
        "name": "{{ site.organizer.name }}",
        "description": "{{ site.organizer.name }}",
        "url": "{{ site.url }}"
      },
      "location": {
        "@type": "Place",
        "name": "Landshut",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Altstadt",
          "addressLocality": "Landshut",
          "postalCode": "84028",
          "addressCountry": "DE"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "48.5363577357527",
          "longitude": "12.151756891702782"
        }
      },
      "image": "{{ site.url }}{{ site.poster2026 }}",
      "description": "{{ site.description_event | escape }}",
      "eventStatus": "https://schema.org/EventScheduled",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "performer": [
        {% for artist in site.artists %}
            {
                "@type": "Person",
                "name": "{{ artist.name }}",
                "jobTitle": {{ artist.de.categories | jsonify }}
            }{% if forloop.last == false%}, {% endif %}
        {% endfor %}
      ],
      "offers": [
        {
          "@type": "Offer",
          "description": "Kostenfreier Eintritt",
          "price": "0",
          "priceCurrency": "EUR",
          "availability": "https://schema.org/InStock",
          "url": "{{ site.url }}",
          "validFrom": "{{ site.festival_start }}",
          "validThrough": "{{ site.festival_end }}"
        }
      ]
    }
</script>
