.artists-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
    max-width: $container-width;

    .artist {
        border: 1px solid $border-color;
        padding: 20px;
        width: calc(33.333% - 40px);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start; // Inhalte am Anfang ausrichten
        // text-align: center;

        img {
            width: 100%;
            height: 250px; // Erhöhte Höhe
            object-fit: cover; // Bild skalieren und zuschneiden
            margin-bottom: 10px; // Abstand zwischen Bild und Text
        }

        img.custom-position-top {
            object-position: top;
        }

        img.custom-position-center {
            object-position: center;
        }

        img.custom-position-bottom {
            object-position: bottom;
        }

        h2, p {
            margin-top: 10px; // Abstand für den Text direkt unter dem Bild
        }
    }
}

@media (max-width: $container-width) {
    .artists-list .artist {
        width: calc(50% - 40px);
    }
}

@media (max-width: $phone-width) {
    .artists-list .artist {
        width: calc(100% - 40px);
    }
}
