.artists-list {
    .artist {
        width: calc(33.333% - 40px);
        padding-bottom: 1.4rem;

        .card-header p {
            margin: 0;
        }

        .favorite-toggle {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 30px;
            color: $yellow;
            @include enlarge-click-area(false, -5px, -5px, -5px, -5px);
        }

        img {
            width: 100%;
            height: 250px; // Erhöhte Höhe
            object-fit: cover; // Bild skalieren und zuschneiden
            margin-bottom: 10px; // Abstand zwischen Bild und Text
        }

        img.custom-position-top {
            object-position: top;
        }

        img.custom-position-center {
            object-position: center;
        }

        img.custom-position-bottom {
            object-position: bottom;
        }

        .social-media-links {
            position: absolute;
            right: 0;
            bottom: 1rem; // Abstand vom unteren Rand der Card
            left: 0;
            display: flex;
            gap: 15px;
            align-items: center;
            justify-content: center;
            font-size: 14px;
        }

        .social-media-links a {
            color: $link-color;
            font-size: 1.5em;
        }
    }
}

@media (max-width: $container-width) {
    .artists-list .artist {
        width: calc(50% - 40px);
    }
}

// @media (max-width: $phone-width) {
@media (max-width: 600px) {
    .artists-list .artist {
        width: calc(100% - 40px);
    }
}
