// extracted from logo
$yellow: #FFC107;
$pink: #E91E63;
$black: #000000;
$purple: #9C27B0;
$green: #4CAF50;
$blue: #2196F3;
$red: #F44336;


$text-color: $black;
$text-color-soft: #9a9a9a;
$text-color-inverted: white;
$background-color: white;
$background-color-soft: #f9f9f9;
$link-color: $black;
$link-extern-color: $purple;
$border-color: #C9D1DC;

$footer-description-color: $text-color-soft;
$header-dropdown-text-color: $black;
$header-dropdown-background-color: $background-color-soft;
$header-dropdown-hover-background-color: $background-color-soft;

// tables
$table-border-color: $border-color;
$table-sticky-background-color: $background-color-soft;




// osm attribution-link
$osm-color: #00aced;

// social media
$envelope-color: #f39c12;
$twitter-color: #00aced;
$instagram-color: #375989;
$github-color: #343434;
$linkedin-color: #0073a4;
$facebook-color: #3d5b99;
$google-color: #e64a41;
$pinterest-color: #bd081c;
$medium-color: #00AB6C;
$codepen-color: black;
$rss-color: #ff6600;
