/*
  Site container
*/

html,
body {
  background-color: $site-background-color;
}

.container {
  background-color: $background-color;
  width: $container-width;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 50px 50px rgba($light-green, 1);
}

.container a {
  text-decoration: underline;
}

.content-wrapper {
  padding-top: $header-thickness + 10px;
  margin: auto;
  display: block;
  width: $container-width - 20px;
  flex: 1;
}

.content-wrapper h1 {
  margin: 20px 0px 5px;
}

@media (max-width: $container-width) {
  .container {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .content-wrapper {
    padding-top: $header-thickness + 10px;
    margin: auto;
    display: block;
    width: 95vw;
    flex: 1;
  }
}
