@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/roboto/roboto-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700; /* Für fett */
    src: url('/assets/fonts/roboto/roboto-bold.woff2') format('woff2'); /* Pfad zur TTF-Datei für fett */
}

@font-face {
    font-display: swap;
    font-family: 'Edo';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/edo/edo.ttf') format('truetype');
}

$base-font-family: 'Roboto', sans-serif;
$body-font-family: 'Roboto', sans-serif;
$brushed-font-family: 'Edo', sans-serif;
