.masonry {
    column-count: 4;
    column-gap: 16px;

    img {
        width: 100%;
    }

    .mItem {
        display: inline-block;
        margin-bottom: 16px;
        width: 100%;
    }
}

@media (max-width: $tablet-width) {
    .masonry {
        column-count: 3;
    }
}

@media (max-width: $phone-width) {
    .masonry {
        column-count: 2;
    }
}