h1.logo-image-h1 {
  margin: 0;
}

img.vorpremiere {
  width: 100%;
}

.center-announcement {
  margin: 25px 20px;
}

.quick-access {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap:  wrap;
  justify-content: space-evenly;
  gap: 20px;


  .quick-access-item {
    // width: 40%;

    img {
      width: 40%;
    }

    .label {
      text-align: center;
    }
  }
}

@media (max-width: $container-width) {
    .quick-access {
      .quick-access-item {
        width: 40%;
      }
    }
}

/*
 * Partner-Festival
 * START
 */
.spektakel-rosenheim {
  p {
    margin-top: 0;
  }

  img {
    width: 100%;
  }
}

/*
 * Partner-Festival
 * START
 */

/*
 * Youtube Spektakel 2023
 * START
 */
.youtube-video-meta-container {
  margin: 5px 10px 10px;

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .no-user-consent {
    padding: 20px;
    text-align: center;
    color: $text-color-inverted;
    animation: fadeIn 4s;
    z-index: 2;

    a {
      color: $text-color-inverted;
    }

    .youtube-play-button{
        filter: grayscale(100%);
    }
  }
}

.youtube-video-container {
  display: flex; /* Add this */
  align-items: center; /* Add this */
  justify-content: center; /* Add this */
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: contain;

  &.bg2023{
    background: url('/assets/img/youtube/spektakel-2023-thumbnail.jpg');
  }

  &.bg2024{
    background: url('/assets/img/youtube/spektakel-2024-thumbnail.jpg');
  }

  &.preview1{
    background: url('/assets/img/youtube/preview1.jpg');
  }
  &.preview2{
    background: url('/assets/img/youtube/preview2.jpg');
  }
  &.preview3{
    background: url('/assets/img/youtube/preview3.jpg');
  }
  &.preview4{
    background: url('/assets/img/youtube/preview4.jpg');
  }
  &.preview5{
    background: url('/assets/img/youtube/preview5.jpg');
  }
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  &[src] {
    z-index: 3;
  }
}
/*
 * Youtube Spektakel 2023
 * END
 */
