#hero {
  img {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}

h1.logo-image-h1 {
  margin: 0;
}

.brushed-links {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin: 30px 0;

  .brushed-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: transform 0.2s ease;

    font-family: $brushed-font-family;
    font-weight: 700;
    font-size: 50px;
    color: $orange;
    text-shadow: 4px 4px 0px $black;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;

    &:hover {
      transform: scale(1.05);
    }
  }
}

@media (max-width: $container-width) {
  .brushed-links {
    .quick-access-item {
      width: 40%;
    }
  }
}


.card-margin {
  margin: 50px 20px;
}

.quick-access {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap:  wrap;
  justify-content: space-evenly;
  gap: 20px;


  .quick-access-item {
    // width: 40%;

    img {
      width: 40%;
    }

    .label {
      text-align: center;
    }
  }
}

@media (max-width: $container-width) {
    .quick-access {
      .quick-access-item {
        width: 40%;
      }
    }
}

.youtube-video {
  margin-bottom: 30px;
}


.youtube-video-meta-container {
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .no-user-consent {
    padding: 20px;
    text-align: center;
    color: $text-color-inverted;
    animation: fadeIn 4s;
    z-index: 2;

    a {
      color: $text-color-inverted;
    }

    .youtube-play-button{
        filter: grayscale(100%);
    }
  }
}

.youtube-video-container {
  display: flex; /* Add this */
  align-items: center; /* Add this */
  justify-content: center; /* Add this */
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: contain;

  &.bg2023{
    background: url('/assets/img/youtube/spektakel-2023-thumbnail.jpg');
  }

  &.bg2024{
    background: url('/assets/img/youtube/spektakel-2024-thumbnail.jpg');
  }

  &.preview1{
    background: url('/assets/img/youtube/preview1.jpg');
  }
  &.preview2{
    background: url('/assets/img/youtube/preview2.jpg');
  }
  &.preview3{
    background: url('/assets/img/youtube/preview3.jpg');
  }
  &.preview4{
    background: url('/assets/img/youtube/preview4.jpg');
  }
  &.preview5{
    background: url('/assets/img/youtube/preview5.jpg');
  }
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  &[src] {
    z-index: 3;
  }
}
