.leaflet-container {
    // background: $background-color !important;
    background: #fafafa !important;
    outline-offset: 0 !important;
}

.leaflet-popup-content-wrapper {
    border-radius: initial !important;
}

.leaflet-map {
    height: 60vh;
}

.leaflet-map-attribution {
    font-size: 10px;
    text-align: right;

    a {
        color: $osm-color;
        text-decoration: none;
    }
}

.leaflet-location-icon {
    position: relative;
    background-image: url("/assets/img/star2.png");
    background-repeat:no-repeat;
    background-size:contain;

    .leaflet-location-container {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}