@import "mixins";

.leaflet-container {
    // background: $background-color !important;
    background: #fafafa !important;
    outline-offset: 0 !important;
}

.leaflet-popup-content-wrapper {
    border-radius: initial !important;
}

.spektakel-leaflet-map {
    position: absolute;
    top: 65px;
    bottom: 0px;
    width: $container-width;
    overflow: hidden;
}

@media (max-width: $container-width) {
    .spektakel-leaflet-map {
        width: 95vw;
    }
}

.spektakel-leaflet-map-attribution {
    font-size: 10px;
    text-align: right;

    a {
        color: $osm-color;
        text-decoration: none;
    }
}

@mixin spektakel-leaflet-location-icon {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;

    .spektakel-leaflet-location-icon-container {
        position: absolute;
        width: 100%;
        top: 6px;
        text-align: center;
        right: 3px;
    }
}
.spektakel-leaflet-location-icon-pink {
    @include spektakel-leaflet-location-icon;
    background-image: image-set(
        url("/assets/img/map/marker-pink.webp") type("image/webp"),
        url("/assets/img/map/marker-pink.png") type("image/jpeg")
    );
}

.spektakel-leaflet-location-icon-blue {
    @include spektakel-leaflet-location-icon;
    background-image: image-set(
        url("/assets/img/map/marker-blue.webp") type("image/webp"),
        url("/assets/img/map/marker-blue.png") type("image/jpeg")
    );
}

.spektakel-leaflet-location-icon-purple {
    @include spektakel-leaflet-location-icon;
    background-image: image-set(
        url("/assets/img/map/marker-purple.webp") type("image/webp"),
        url("/assets/img/map/marker-purple.png") type("image/jpeg")
    );
}

.spektakel-leaflet-location-icon-yellow {
    @include spektakel-leaflet-location-icon;
    background-image: image-set(
        url("/assets/img/map/marker-yellow.webp") type("image/webp"),
        url("/assets/img/map/marker-yellow.png") type("image/jpeg")
    );
}

.spektakel-leaflet-location-icon-red {
    @include spektakel-leaflet-location-icon;
    background-image: image-set(
        url("/assets/img/map/marker-red.webp") type("image/webp"),
        url("/assets/img/map/marker-red.png") type("image/jpeg")
    );
}

.spektakel-leaflet-location-icon-green {
    @include spektakel-leaflet-location-icon;
    background-image: image-set(
        url("/assets/img/map/marker-green.webp") type("image/webp"),
        url("/assets/img/map/marker-green.png") type("image/jpeg")
    );
}

.leaflet-container a.leaflet-popup-close-button  {
    top: 2px !important;
    right: 2px !important;
    font-size: 24px !important;
}

.spektakel-leaflet-popup {
    .leaflet-popup-content {
        font-family: $body-font-family;
        font-size: 16px;
        margin: 0 !important;

        .location-title {
            margin: 5px;
        }

        .location-table-wrapper {
            max-height: 240px;
            width: 280px;
            margin: 5px;

            font-size: 16px;
            line-height: 1.2;

            overflow-y: auto;

            table {
                margin-bottom: 0;
                table-layout: fixed;
            }

            table, th, td {
                border-spacing: 0;
                border: 1px solid $table-border-color;
            }

            thead {
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }

            th,
            td {
                padding: 5px;
                // white-space: nowrap;
                // word-break: break-all;
                border-bottom: 1px solid $table-border-color;
                border-right: 0;
                border-left: 0;
            }

            th.schedule-time {
                width: 70px;
            }

            tr:last-child td {
                border-bottom: none;
            }


            /*
            STICKY ROW
            Normal css box-shadow works for the header as it is a single html element
            */
            tr.sticky {
                position: sticky;
                top: 0;
                z-index: 400;
                background: $table-sticky-background-color;
            }

            tr.day-section {
                // box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
                background: $table-sticky-background-color;
            }

            tr.schedule-details {
                cursor: pointer;


                &.favorite {
                    background-color: $favorite-highlight-color;
                    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent);
                    background-size: 10px 10px; // Größe des Musters anpassen
                }

                .expand-icon {
                    // color: $yellow;
                    display: inline-block;
                }
                .collapse-icon {
                    display: none;
                }

                &.expanded {
                    .expand-icon {
                        display: none;
                    }
                    .collapse-icon {
                        // color: $yellow;
                        display: inline-block;
                    }
                }

            }

            tr.artist-details {
                display: none;

                &.visible{
                    display: table-row;
                }
            }
        }
    }
}