@import "mixins";

.leaflet-container {
    // background: $background-color !important;
    background: #fafafa !important;
    outline-offset: 0 !important;
}

.leaflet-popup-content-wrapper {
    border-radius: initial !important;
}

.spektakel-leaflet-map {
    // height: 60vh;
    position: absolute;
    top: 65px;
    bottom: 0px;
    width: 95vw;
    overflow: hidden;
}

.spektakel-leaflet-map-attribution {
    font-size: 10px;
    text-align: right;

    a {
        color: $osm-color;
        text-decoration: none;
    }
}

.spektakel-leaflet-location-icon {
    position: relative;
    background-image: url("/assets/img/star2.png");
    background-repeat: no-repeat;
    background-size: contain;

    .spektakel-leaflet-location-icon-container {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}

.leaflet-container a.leaflet-popup-close-button  {
    top: 2px !important;
    right: 2px !important;
    font-size: 24px !important;
}

.spektakel-leaflet-popup {
    .leaflet-popup-content {
        font-family: $body-font-family;
        font-size: 16px;
        margin: 0 !important;

        .location-title {
            margin: 5px;
        }

        .location-table-wrapper {
            max-height: 240px;
            width: 280px;
            margin: 5px;

            font-size: 16px;
            line-height: 1.2;

            overflow-y: auto;

            table {
                margin-bottom: 0;
                table-layout: fixed;
            }

            table, th, td {
                border-spacing: 0;
                border: 1px solid $table-border-color;
            }

            thead {
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }

            th,
            td {
                padding: 5px;
                // white-space: nowrap;
                // word-break: break-all;
                border-bottom: 1px solid $table-border-color;
                border-right: 0;
                border-left: 0;
            }

            th.schedule-time {
                width: 80px;
            }

            tr:last-child td {
                border-bottom: none;
            }


            /*
            STICKY ROW
            Normal css box-shadow works for the header as it is a single html element
            */
            tr.sticky {
                position: sticky;
                top: 0;
                z-index: 400;
                background: $table-sticky-background-color;
            }

            tr.day-section {
                // box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
                background: $table-sticky-background-color;
            }

            tr.schedule-details {
                cursor: pointer;
                .expand-icon {
                    color: $yellow;
                    display: inline-block;
                }
                .collapse-icon {
                    display: none;
                }

                &.expanded {
                    .expand-icon {
                        display: none;
                    }
                    .collapse-icon {
                        color: $yellow;
                        display: inline-block;
                    }
                }

                .artist-and-favorite-toggle {
                    display: grid;
                    grid-template-columns: 1fr auto;
                    align-items: center;

                    .favorite-toggle {
                        color: $yellow;
                        position: relative;
                        @include enlarge-click-area(false, -5px, -5px, -5px, -5px);
                    }
                }
            }

            tr.artist-details {
                display: none;

                &.visible{
                    display: table-row;
                }

                p {
                    margin: 0;
                    line-height: 1;
                }

                img {
                    width: 100%;
                    height: 200px; // Erhöhte Höhe
                    object-fit: cover; // Bild skalieren und zuschneiden
                    margin-bottom: 10px; // Abstand zwischen Bild und Text
                }

                img.custom-position-top {
                    object-position: top;
                }

                img.custom-position-center {
                    object-position: center;
                }

                img.custom-position-bottom {
                    object-position: bottom;
                }
            }
        }
    }
}