@import "mixins";

$icon-transition-time: 1.0s;

.fa-envelope {
  padding: 5px;
  @include color-transition-on-hover($envelope-color, $icon-transition-time);
}

.fa-twitter {
  padding: 5px;
  @include color-transition-on-hover($twitter-color, $icon-transition-time);
}

.fa-instagram {
  padding: 5px;
  @include color-transition-on-hover($instagram-color, $icon-transition-time);
}

.fa-github {
  padding: 5px;
  @include color-transition-on-hover($github-color, $icon-transition-time);
}

.fa-linkedin {
  padding: 5px;
  @include color-transition-on-hover($linkedin-color, $icon-transition-time);
}

.fa-facebook {
  padding: 5px;
  @include color-transition-on-hover($facebook-color, $icon-transition-time);
}

.fa-google-plus {
  padding: 5px;
  @include color-transition-on-hover($google-color, $icon-transition-time);
}

.fa-pinterest {
  padding: 5px;
  @include color-transition-on-hover($pinterest-color, $icon-transition-time);
}

.fa-medium {
  padding: 5px;
  @include color-transition-on-hover($medium-color, $icon-transition-time);
}

.fa-codepen {
  padding: 5px;
  @include color-transition-on-hover($codepen-color, $icon-transition-time);
}

.fa-rss-square {
  padding: 5px;
  @include color-transition-on-hover($rss-color, $icon-transition-time);
}

.fa-youtube {
  padding: 5px;
  @include color-transition-on-hover($rss-color, $icon-transition-time);
}

.fa-vimeo {
  padding: 5px;
  @include color-transition-on-hover($twitter-color, $icon-transition-time);
}

.fa-home {
  padding: 5px;
  @include color-transition-on-hover($envelope-color, $icon-transition-time);
}