.sponsors-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;

    .box {
      flex-basis: 25%;
      width: 80%;
      padding: 10px;
      margin: auto 2px;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }