---
layout: page
title: Künstler
permalink: /artists
---

<div class="artists-list cards-list">
    {% assign sortedArtists = site.artists | where_exp: "artist", "artist.organizational != true" | sort: 'artist_id' %}
    {% for artist in sortedArtists %}
        <div class="artist card" id="{{ artist.artist_id }}" itemscope itemtype="http://schema.org/Person">
            <div class="card-header">
                <i class="favorite-toggle fa fa-star-o"
                    data-artist-id="{{ artist.artist_id }}"
                    onclick="spektakel.favorites.toggleArtistFavorite('{{ artist.artist_id }}');"></i>
                <h2 itemprop="name">{{ artist.name }}</h2>
                <p>{{ artist.country }}</p>
                <p class="artist-category">
                    {% for category in artist.categories %}
                        <span itemprop="jobTitle">{{ category }}</span>{% if forloop.last == false %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="card-body">
                <picture>
                    <source srcset="{{ artist.image }}" type="image/webp">
                    <source srcset="{{ artist.image | replace:'.webp','.jpg' }}" type="image/jpeg">
                    <img src="{{ artist.image | replace:'.webp','.jpg' }}" alt="{{ artist.name }}" itemprop="image" class="custom-position-{% if artist.image_position %}{{ artist.image_position }}{% else %}center{% endif %}">
                </picture>
                <p>{{ artist.content | markdownify }}</p>
                <div class="social-media-links">
                    {% if artist.facebook %}
                        <a href="{{ artist.facebook }}" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    {% if artist.instagram %}
                        <a href="{{ artist.instagram }}" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    {% if artist.youtube %}
                        <a href="{{ artist.youtube }}" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    {% if artist.vimeo %}
                        <a href="{{ artist.vimeo }}" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-vimeo" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    {% if artist.homepage %}
                        <a href="{{ artist.homepage }}" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    const onShow = () => {
        const favorites = spektakel.favorites.getArtistFavorites();
        favorites.forEach((favorite) => {
            const iconElement = document.querySelector(`i[data-artist-id="${favorite}"]`);
            if (iconElement) {
                iconElement.classList.remove('fa-star-o');
                iconElement.classList.add('fa-star');
            }
        });
    }

    document.addEventListener("DOMContentLoaded", onShow);
    // window.addEventListener("pageshow", onShow);

    window.addEventListener("favoritesChanged", (event) => {
        const newFavorites = event.detail;

        // update the favorite icon
        document.querySelectorAll(`i[data-artist-id]`).forEach((iconElement) => {
            const artistId = iconElement.getAttribute('data-artist-id');
            if (newFavorites.includes(artistId)) {
                iconElement.classList.add('fa-star');
                iconElement.classList.remove('fa-star-o');
            } else {
                iconElement.classList.add('fa-star-o');
                iconElement.classList.remove('fa-star');
            }
        });

    });
</script>
