---
layout: page
title: Künstler
permalink: /artists
---

{% assign daysOfWeek = 'Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday' | split: ',' %}
{% assign daysOfWeekDe = 'Sonntag,Montag,Dienstag,Mittwoch,Donnerstag,Freitag,Samstag' | split: ',' %}

<div class="artists-list cards-list">
    {% assign sortedArtists = site.artists | where_exp: "artist", "artist.organizational != true" | sort: 'artist_id' %}
    {% for artist in sortedArtists %}
        <div class="artist card" id="{{ artist.artist_id }}" itemscope itemtype="http://schema.org/Person">
            <div class="card-header">
                <i class="favorite-toggle fa fa-star-o"
                    data-artist-id="{{ artist.artist_id }}"
                    onclick="spektakel.favorites.toggleArtistFavorite('{{ artist.artist_id }}');"></i>
                <h2 itemprop="name">{{ artist.name }}</h2>
                {% if artist.name_sub %}
                    <strong>{{ artist.name_sub }}</strong>
                {% endif %}
                <p>{{ artist.country }}</p>
                <p class="artist-category">
                    {% for category in artist.categories %}
                        <span itemprop="jobTitle">{{ category }}</span>{% if forloop.last == false %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="card-body">
                <picture>
                    <source srcset="{{ artist.image }}" type="image/webp">
                    <source srcset="{{ artist.image | replace:'.webp','.jpg' }}" type="image/jpeg">
                    <img src="{{ artist.image | replace:'.webp','.jpg' }}" alt="{{ artist.name }}" itemprop="image" class="custom-position-{% if artist.image_position %}{{ artist.image_position }}{% else %}center{% endif %}">
                </picture>
                <p>{{ artist.content | markdownify }}</p>

                {% assign sortedEvents = site.data.schedule | where_exp: "event", "event.artist_id == artist.artist_id" | sort: 'time' %}
                {% if sortedEvents.size > 0 %}
                    <div class="schedule">
                        <ul>
                            {% assign previous_time = nil %}
                            {% assign previous_date = nil %}
                            {% for event in sortedEvents %}
                                {% assign current_time = event.time | date: "%s" %}
                                {% assign current_date = event.time | date: "%Y-%m-%d" %}
                                {% if previous_date != current_date %}

                                    {% assign dayOfWeek = current_date | date: "%A" %}
                                    {% assign dayOfWeekIndex = -1 %}
                                    {% for day in daysOfWeek %}
                                        {% if day == dayOfWeek %}
                                            {% assign dayOfWeekIndex = forloop.index0 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% assign dayOfWeekDe = daysOfWeekDe[dayOfWeekIndex] %}

                                    <h5>{{dayOfWeekDe}} {{ current_date | date: "%d.%m.%Y" }}</h5>
                                    {% assign previous_date = current_date %}
                                {% endif %}
                                {% if previous_time == nil %}
                                    {% assign previous_time = current_time %}
                                    <li>
                                        <time datetime="{{ event.time }}">{{ event.time | date: "%H:%M" }}</time>
                                        {% assign location = site.locations | where: 'location_id', event.location_id | first %}
                                        <a href="{{ site.baseurl }}/locations#{{ location.location_id }}">
                                            {{ location.description }}
                                        </a>
                                        {% if event.notes %}<span class="schedule-event-notes">({{ event.notes }})</span>{% endif %}
                                    </li>
                                {% else %}
                                    {% assign time_difference = current_time | minus: previous_time %}
                                    {% if time_difference >= 3600 %}
                                        {% assign previous_time = current_time %}
                                        <li>
                                            <time datetime="{{ event.time }}">{{ event.time | date: "%H:%M" }}</time>
                                            {% assign location = site.locations | where: 'location_id', event.location_id | first %}
                                            <a href="{{ site.baseurl }}/locations#{{ location.location_id }}">
                                                {{ location.description }}
                                            </a>
                                            {% if event.notes %}<span class="schedule-event-notes">({{ event.notes }})</span>{% endif %}
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="social-media-links">
                    {% if artist.facebook %}
                        <a href="{{ artist.facebook }}" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    {% if artist.instagram %}
                        <a href="{{ artist.instagram }}" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    {% if artist.youtube %}
                        <a href="{{ artist.youtube }}" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    {% if artist.vimeo %}
                        <a href="{{ artist.vimeo }}" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-vimeo" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    {% if artist.homepage %}
                        <a href="{{ artist.homepage }}" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    const onShow = () => {
        const favorites = spektakel.favorites.getArtistFavorites();
        favorites.forEach((favorite) => {
            const iconElement = document.querySelector(`i[data-artist-id="${favorite}"]`);
            if (iconElement) {
                iconElement.classList.remove('fa-star-o');
                iconElement.classList.add('fa-star');
            }
        });
    }

    document.addEventListener("DOMContentLoaded", onShow);
    // window.addEventListener("pageshow", onShow);

    window.addEventListener("favoritesChanged", (event) => {
        const newFavorites = event.detail;

        // update the favorite icon
        document.querySelectorAll(`i[data-artist-id]`).forEach((iconElement) => {
            const artistId = iconElement.getAttribute('data-artist-id');
            if (newFavorites.includes(artistId)) {
                iconElement.classList.add('fa-star');
                iconElement.classList.remove('fa-star-o');
            } else {
                iconElement.classList.add('fa-star-o');
                iconElement.classList.remove('fa-star');
            }
        });

    });
</script>
