---
layout: page
title: impressions
permalink: /impressions
---

{% comment %}
From the projects `assets/img/impressions` directory, excecute:

$ rm -rf thumbs && mkdir thumbs && magick mogrify -format jpg -path thumbs -thumbnail 300x300 *.jpg
{% endcomment %}

<div id="image-gallery" class="masonry">
    <a
        data-lg-size="1280-720"
        data-src="//www.youtube.com/watch?v=DeXdXV5E7XQ"
        data-poster="https://img.youtube.com/vi/DeXdXV5E7XQ/maxresdefault.jpg"
        data-sub-html="<h4>Spektakel Landshut 2023</h4>"
    >
        <img
            width="300"
            height="150"
            class="img-responsive"
            src="https://img.youtube.com/vi/DeXdXV5E7XQ/maxresdefault.jpg"
        />
    </a>
    <a
        data-lg-size="1280-720"
        data-src="//www.youtube.com/watch?v=JLMxkFEwCkI"
        data-poster="https://img.youtube.com/vi/JLMxkFEwCkI/maxresdefault.jpg"
        data-sub-html="<h4>Spektakel Landshut 2024</h4>"
    >
        <img
            width="300"
            height="150"
            class="img-responsive"
            src="https://img.youtube.com/vi/JLMxkFEwCkI/maxresdefault.jpg"
        />
    </a>

  {% for file in site.static_files %}
  {% if file.path contains '/assets/img/impressions/' %}
  {% unless file.path contains '/assets/img/impressions/thumbs/' %}
  {% assign thumb_path = file.path | replace: '/assets/img/impressions/', '/assets/img/impressions/thumbs/' %}
  <a href="{{ file.path }}">
    <img src="{{ thumb_path }}" />
  </a>
  {% endunless %}
  {% endif %}
  {% endfor %}
</div>

<script>
  // https://www.lightgalleryjs.com/docs/settings/
  const defaultSettings = {
    plugins: [lgAutoplay, lgFullscreen, lgThumbnail, lgZoom, lgVideo],
    thumbnail: true,
    autoautoplay: false,
    slideShowAutoplay: false,
    download: false,
    autoplayVideoOnSlide: true,
  };

  lightGallery(document.getElementById('image-gallery'), {
    ...defaultSettings,
    mobileSettings: {
      // https://www.lightgalleryjs.com/docs/settings/#mobileSettings
      ...defaultSettings,
      showCloseIcon: true,
    }
  });
</script>
