---
layout: page
title: Impressionen
permalink: /impressions
---

{%  comment  %}
From the projects `assets/img/impressions` directory, excecute:

    $ rm -rf thumbs && mkdir thumbs && magick mogrify -format jpg -path thumbs -thumbnail 300x300 *.jpg
{% endcomment %}

<div id="animated-thumbnails-gallery" class="masonry">
    {% for file in site.static_files %}
        {% if file.path contains '/assets/img/impressions/' %}
            {%  unless file.path contains '/assets/img/impressions/thumbs/' %}
                {% assign thumb_path = file.path | replace: '/assets/img/impressions/', '/assets/img/impressions/thumbs/' %}
                <a href="{{ file.path }}">
                    <img src="{{ thumb_path }}" />
                </a>
            {% endunless %}
        {% endif %}
    {% endfor %}
</div>

<script>
    // https://www.lightgalleryjs.com/docs/settings/
    lightGallery(document.getElementById('animated-thumbnails-gallery'), {
        plugins: [lgAutoplay, lgFullscreen, lgThumbnail, lgZoom],
        thumbnail: true,
        autoautoplay: true,
        slideShowAutoplay: true,
        download: false,
    });
</script>