---
layout: page
title: nightlife
permalink: /nightlife
---

{% assign daysOfWeek = 'Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday' | split: ',' %}
{% assign daysOfWeekDe = 'Sonntag,Montag,Dienstag,Mittwoch,Donnerstag,Freitag,Samstag' | split: ',' %}

{% assign sortedLocations = site.locations | where_exp: "location", "location.nightlife == true" | sort: 'sort_order' %}
{% assign groupedSchedule = site.data.nightlife | group_by: 'time' | sort: 'name' %}

{% assign festivalEventDates = '' | split: ',' %}
{% for event in site.data.nightlife %}
    {% assign eventHour = event.time | date: "%H" | plus: 0 %}
    {% assign eventDateUnix = event.time | date: "%s" %}

    {% if eventHour < 12 %}
        {% assign adjustedUnixDate = eventDateUnix | minus: 86400 %} <!-- 86400 Sekunden = 1 Tag -->
    {% else %}
        {% assign adjustedUnixDate = eventDateUnix %}
    {% endif %}

    {% assign adjustedDate = adjustedUnixDate | date: "%d.%m.%Y" %}
    {% unless festivalEventDates contains adjustedDate %}
        {% assign festivalEventDates = festivalEventDates | push: adjustedDate %} <!-- Tag zur Liste hinzufügen, wenn nicht vorhanden -->
    {% endunless %}
{% endfor %}

{% if festivalEventDates.size == 0 %}
    <div class="planning">
        <img class="icon" src="/assets/img/pages/planning.svg">
        <p>
            {% t pages.nightlife.planningInProgressPrefix %}
            <a href="./artists">{% t pages.nightlife.planningInProgressInfix %}</a>
            {% t pages.nightlife.planningInProgressSuffix %}
        </p>
    </div>
{% else %}
    <p>{% t pages.nightlife.changesPossible %}</p>

    {% for festivalDate in festivalEventDates %}
        {% assign dayOfWeekEn = festivalDate | date: "%A" %}
        {% assign dayOfWeekIndex = -1 %}
        {% for day in daysOfWeek %}
            {% if day == dayOfWeekEn %}
            {% assign dayOfWeekIndex = forloop.index0 %}
            {% endif %}
        {% endfor %}
        {% assign dayOfWeekDe = daysOfWeekDe[dayOfWeekIndex] %}

        {% case site.lang %}
        {% when "de" %}
            {% assign dayOfWeekToShow = dayOfWeekDe %}
        {% when "en" %}
            {% assign dayOfWeekToShow = dayOfWeekEn %}
        {% else %}
            {% assign dayOfWeekToShow = dayOfWeekEn %}
        {% endcase %}

        <h2>{{ dayOfWeekToShow }} {{ festivalDate }}</h2>

        <div class="program-table-wrapper">
            <table>
                <thead>
                    <tr class="sticky">
                        <th>{% t pages.nightlife.time %}</th>
                        {% for location in sortedLocations %}
                            <th>
                                <a href="{{ site.baseurl }}/locations#{{ location.location_id }}">
                                    <div class="table-header-location-id">
                                        {{ location.location_id | upcase }}
                                    </div>
                                    <div class="table-header-location-description">
                                        {{ location.description }}
                                    </div>
                                </a>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for group in groupedSchedule %}
                        {% assign scheduleEntryDateTime = group.name %}
                        {% assign scheduleEntryDateUnix = scheduleEntryDateTime | date: "%s" %}
                        {% assign scheduleEntryHour = scheduleEntryDateTime | date: "%H" | plus: 0 %}

                        {% if scheduleEntryHour < 12 %}
                            {% assign adjustedUnixDate = scheduleEntryDateUnix | minus: 86400 %}
                        {% else %}
                            {% assign adjustedUnixDate = scheduleEntryDateUnix %}
                        {% endif %}

                        {% assign adjustedDate = adjustedUnixDate | date: "%d.%m.%Y" %}
                        {% if adjustedDate != festivalDate %}
                            {% continue %}
                        {% endif %}

                        <tr>
                            <td data-datetime="{{ scheduleEntryDateTime }}">{{ scheduleEntryDateTime | date: "%H:%M" }}</td>
                            {% assign scheduledActsAtTime = group.items %}
                            {% for location in sortedLocations %}
                                {% assign entryAtLocation = scheduledActsAtTime | where: 'location_id', location.location_id | first %}
                                {% if entryAtLocation %}
                                    <td data-artist-id="{{ entryAtLocation.artist_id }}">
                                        {% assign artist = site.artists | where: 'artist_id', entryAtLocation.artist_id | first %}
                                        {% assign location = site.locations | where: 'location_id', entryAtLocation.location_id | first %}

                                        <span itemscope itemtype="https://schema.org/Event">
                                            <span itemprop="name">
                                                {% if artist.short_name %}
                                                    {{ artist.short_name }}
                                                {% else %}
                                                    {{ artist.name }}
                                                {% endif %}
                                            </span>
                                            {% if entryAtLocation.notes %}
                                                <span class="artist-notes">({{ entryAtLocation.notes }})</span>
                                            {% endif %}
                                            <span hidden>
                                                <meta itemprop="startDate" content="{{ scheduleEntryDateTime }}">
                                                <meta itemprop="eventStatus" content="https://schema.org/EventScheduled">
                                                <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode">
                                                <meta itemprop="image" content="{{ artist.image }}">
                                                <meta itemprop="description" content="{{ artist.content | escape }}">

                                                <span itemscope itemtype="https://schema.org/Place" itemprop="location">
                                                    <meta itemprop="name" content="{{ location.description }}">
                                                    <span itemscope itemtype="https://schema.org/GeoCoordinates" itemprop="geo">
                                                        <meta itemprop="latitude" content="{{ location.gps[0] }}">
                                                        <meta itemprop="longitude" content="{{ location.gps[1] }}">
                                                    </span>
                                                </span>

                                                <span itemscope itemtype="https://schema.org/Person" itemprop="performer">
                                                    <meta itemprop="name" content="{{ artist.name }}">
                                                    <meta itemprop="jobTitle" content="{{ artist.categories | join: ', ' }}">
                                                </span>
                                            </span>
                                        </span>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}

    <div class="other-schedule-hint">
        {% t pages.nightlife.programPrefix %} <a href="{{ site.baseurl }}/program">{% t pages.nightlife.programSuffix %}</a>.
    </div>
{% endif %}

<script>
    const onShow = () => {
        document.querySelectorAll('.program-table-wrapper > table').forEach((tableElement) => {
            spektakel.program.dropEmptyColumns(tableElement);
            // spektakel.program.dropEmptyRows(tableElement);
            spektakel.program.mergeTableCells(tableElement);
        });

        const artistFavorites = spektakel.favorites.getArtistFavorites();
        document.querySelectorAll(`td[data-artist-id]`).forEach((tdElement) => {
            const artistId = tdElement.getAttribute('data-artist-id');

            const artist = spektakel.constants.ARTISTS.find((artist) => artist.artist_id === artistId);
            if (!artist.organizational) {
                // Create tooltips
                tippy(tdElement, {
                    theme: 'light-border',
                    trigger: 'click',
                    interactive: true,
                    allowHTML: true,
                    content: 'Lade Künstler...',
                    onShow: (instance) => instance.setContent(spektakel.popover.createPopoverContentHtml(artistId, "{{ site.lang }}")),
                });

                // Highlight favorite artists
                if (artistFavorites.includes(artistId)) {
                    tdElement.classList.add('favorite');
                }
            }
        });
    }

    document.addEventListener("DOMContentLoaded", onShow);
    // window.addEventListener("pageshow", onShow);

    window.addEventListener("favoritesChanged", (event) => {
        const newFavorites = event.detail;

        // update the favorite background
        document.querySelectorAll(`td[data-artist-id]`).forEach((scheduleDetail) => {
            const artistId = scheduleDetail.getAttribute('data-artist-id');
            if (newFavorites.includes(artistId)) {
                scheduleDetail.classList.add('favorite');
            } else {
                scheduleDetail.classList.remove('favorite');
            }
        });

        // update the favorite icon
        document.querySelectorAll(`i[data-artist-id]`).forEach((iconElement) => {
            const artistId = iconElement.getAttribute('data-artist-id');
            if (newFavorites.includes(artistId)) {
                iconElement.classList.add('fa-star');
                iconElement.classList.remove('fa-star-o');
            } else {
                iconElement.classList.add('fa-star-o');
                iconElement.classList.remove('fa-star');
            }
        });
    });
</script>