---
layout: page
title: program
permalink: /program
---

{% assign daysOfWeekEn = 'Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday' | split: ',' %}
{% assign daysOfWeekDe = 'Sonntag,Montag,Dienstag,Mittwoch,Donnerstag,Freitag,Samstag' | split: ',' %}

{% assign sortedLocations = site.locations | where_exp: "location", "location.organizational != true"| where_exp: "location", "location.nightlife != true" | sort: 'sort_order' %}
{% assign groupedSchedule = site.data.schedule | group_by: 'time' | sort: 'name' %}

{% assign festivalEventDates = '' | split: ',' %}
{% for event in site.data.schedule %}
    {% assign eventHour = event.time | date: "%H" | plus: 0 %}
    {% if eventHour >= 0 and eventHour < 4 %}
        {% comment %} Events zwischen 0:00 und 3:59 Uhr werden dem Vortag zugeordnet {% endcomment %}
        {% assign eventDatePreviousDay = event.time | date: "%s" | minus: 86400 | date: "%d.%m.%Y" %}
        {% assign eventDate = eventDatePreviousDay %}
    {% else %}
        {% assign eventDate = event.time | date: "%d.%m.%Y" %}
    {% endif %}
    {% unless festivalEventDates contains eventDate %}
        {% assign festivalEventDates = festivalEventDates | push: eventDate %} <!-- Tag zur Liste hinzufügen, wenn nicht vorhanden -->
    {% endunless %}
{% endfor %}

{% if festivalEventDates.size == 0 %}
    <div class="planning">
        <img class="icon" src="/assets/img/pages/planning.svg">
        <p>
            {% t pages.program.planningInProgressPrefix %}
            <a href="./artists">{% t pages.program.planningInProgressInfix %}</a>
            {% t pages.program.planningInProgressSuffix %}
        </p>
    </div>
{% else %}
    <p>{% t pages.program.changesPossible %}</p>

    {% for festivalDate in festivalEventDates %}
        {% assign dayOfWeekEn = festivalDate | date: "%A" %}
        {% assign dayOfWeekIndex = -1 %}
        {% for day in daysOfWeekEn %}
        {% if day == dayOfWeekEn %}
            {% assign dayOfWeekIndex = forloop.index0 %}
        {% endif %}
        {% endfor %}
        {% assign dayOfWeekDe = daysOfWeekDe[dayOfWeekIndex] %}

        {% case site.lang %}
        {% when "de" %}
            {% assign dayOfWeekToShow = dayOfWeekDe %}
        {% when "en" %}
            {% assign dayOfWeekToShow = dayOfWeekEn %}
        {% else %}
            {% assign dayOfWeekToShow = dayOfWeekEn %}
        {% endcase %}


        <h2 class="day-of-week">{{ dayOfWeekToShow }} {{ festivalDate }}</h2>

        {% comment %} Prüfen ob dieser Tag Events nach Mitternacht hat {% endcomment %}
        {% assign hasNightEvents = false %}
        {% assign groupedSchedule = site.data.schedule | group_by: 'time' | sort: 'name' %}
        {% for group in groupedSchedule %}
            {% assign checkDateTime = group.name %}
            {% assign checkHour = checkDateTime | date: "%H" | plus: 0 %}
            {% if checkHour >= 0 and checkHour < 4 %}
                {% assign checkDatePreviousDay = checkDateTime | date: "%s" | minus: 86400 | date: "%d.%m.%Y" %}
                {% assign checkDate = checkDatePreviousDay %}
            {% else %}
                {% assign checkDate = checkDateTime | date: "%d.%m.%Y" %}
            {% endif %}
            {% if checkDate == festivalDate and checkHour >= 0 and checkHour < 4 %}
                {% assign hasNightEvents = true %}
                {% break %}
            {% endif %}
        {% endfor %}

        <div class="program-table-wrapper">
            <table>
                <thead>
                    <tr class="sticky">
                        <th>{% t pages.program.time %}</th>
                        {% for location in sortedLocations %}
                            <th data-location-id="{{ location.location_id }}">
                                <a href="{{ site.baseurl }}/locations#{{ location.location_id }}">
                                    <div class="table-header-location-id">
                                        {{ location.location_id | upcase }}
                                    </div>
                                    <div class="table-header-location-description">
                                        {{ location.description }}
                                    </div>
                                </a>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% assign groupedSchedule = site.data.schedule | group_by: 'time' | sort: 'name' %}
                    {% for group in groupedSchedule %}
                        {% assign scheduleEntryDateTime = group.name %}
                        {% assign scheduleEntryHour = scheduleEntryDateTime | date: "%H" | plus: 0 %}
                        {% if scheduleEntryHour >= 0 and scheduleEntryHour < 4 %}
                            {% comment %} Events zwischen 0:00 und 3:59 Uhr werden dem Vortag zugeordnet {% endcomment %}
                            {% assign scheduleEntryDatePreviousDay = scheduleEntryDateTime | date: "%s" | minus: 86400 | date: "%d.%m.%Y" %}
                            {% assign scheduleEntryDate = scheduleEntryDatePreviousDay %}
                        {% else %}
                            {% assign scheduleEntryDate = scheduleEntryDateTime | date: "%d.%m.%Y" %}
                        {% endif %}
                        {% assign scheduleEntryTime = scheduleEntryDateTime | date: "%H:%M" %}

                        {% if scheduleEntryDate != festivalDate %}
                            {% continue %}
                        {% endif %}

                        <tr>
                            <td data-datetime="{{ scheduleEntryDateTime }}">{{ scheduleEntryTime }}</td>
                            {% assign scheduledActsAtTime = group.items %}
                            {% for location in sortedLocations %}
                                {% assign entryAtLocation = scheduledActsAtTime | where: 'location_id', location.location_id | first %}
                                {% if entryAtLocation %}
                                    <td data-artist-id="{{ entryAtLocation.artist_id }}">
                                        {% assign artist = site.artists | where: 'artist_id', entryAtLocation.artist_id | first %}
                                        {% assign location = site.locations | where: 'location_id', entryAtLocation.location_id | first %}
                                        {% assign artistTranslations = artist[site.lang] %}

                                        <span itemscope itemtype="https://schema.org/Event">  
                                            <span itemprop="name">
                                                {% if artist.short_name %}
                                                    {{ artist.short_name }}
                                                {% else %}
                                                    {{ artist.name }}
                                                {% endif %}
                                            </span>
                                            {% if entryAtLocation.notes %}
                                                <span class="artist-notes">({{ entryAtLocation.notes }})</span>
                                            {% endif %}
                                            <span hidden>
                                                <span itemscope itemtype="https://schema.org/Organizer" itemprop="organizer">
                                                  <meta itemprop="name" content="{{ site.organizer.name }}">
                                                  <meta itemprop="description" content="{{ site.organizer.name }}">
                                                  <meta itemprop="url" content="{{ site.url }}">
                                                </span>
                                                <meta itemprop="startDate" content="{{ scheduleEntryDateTime }}">
                                                <meta itemprop="endDate" content="{{ scheduleEntryDateTime | date: '%s' | plus: 3600 | date: '%Y-%m-%dT%H:%M:%S%:z' }}">
                                                <meta itemprop="eventStatus" content="https://schema.org/EventScheduled">
                                                <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode">
                                                <meta itemprop="image" content="{{ artist.image }}">
                                                <meta itemprop="description" content="{{ artistTranslations.description | escape }} {{ artistTranslations.highlight | escape }}">

                                                <span itemscope itemtype="https://schema.org/Place" itemprop="location">
                                                    <meta itemprop="name" content="{{ location.description }}">
                                                    <span itemscope itemtype="https://schema.org/GeoCoordinates" itemprop="geo">
                                                        <meta itemprop="latitude" content="{{ location.gps[0] }}">
                                                        <meta itemprop="longitude" content="{{ location.gps[1] }}">
                                                    </span>
                                                    <span itemscope itemtype="https://schema.org/PostalAddress" itemprop="address">
                                                        <meta itemprop="addressLocality" content="Landshut">
                                                        <meta itemprop="streetAddress" content="{{ location.description }}">
                                                        <meta itemprop="postalCode" content="84028">
                                                        <meta itemprop="addressCountry" content="DE">
                                                    </span>
                                                </span>

                                                <span itemscope itemtype="https://schema.org/Person" itemprop="performer">
                                                    <meta itemprop="name" content="{{ artist.name }}">
                                                    <meta itemprop="jobTitle" content="{{ artistTranslations.categories | join: ', ' }}">
                                                </span>

                                                <span itemscope itemtype="https://schema.org/Offer" itemprop="offers">
                                                    <meta itemprop="name" content="Kostenfreier Eintritt">
                                                    <meta itemprop="isAccessibleForFree" content="true">
                                                    <meta itemprop="price" content="0">
                                                    <meta itemprop="priceCurrency" content="EUR">
                                                    <meta itemprop="availability" content="https://schema.org/InStock">
                                                    <meta itemprop="url" content="{{ site.url }}">
                                                    <meta itemprop="validFrom" content="{{ scheduleEntryDateTime }}">
                                                    <meta itemprop="validThrough" content="{{ scheduleEntryDateTime | date: '%s' | plus: 3600 | date: '%Y-%m-%dT%H:%M:%S%:z' }}">
                                                </span>
                                            </span>
                                        </span>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if hasNightEvents %}
          <div class="other-schedule-hint">
            {% t pages.program.nightlifePrefix %} <a href="{{ site.baseurl }}/nightlife">{% t pages.program.nightlifeSuffix %}</a>.
          </div>
        {% endif %}
    {% endfor %}
{% endif %}

<script>
    let nextTimeout;
    const updateTimeInfoCell = () => {
        document.querySelectorAll('.program-table-wrapper > table').forEach((tableElement) => {
            spektakel.program.highlightTimeInfoCell(tableElement, 'highlight-time-info');
        });
        if(nextTimeout) {
            clearTimeout(nextTimeout);
        }
        nextTimeout = setTimeout(() => {
            updateTimeInfoCell();
        }, 5_000);
    };

    const onShow = () => {
        document.querySelectorAll('.program-table-wrapper > table').forEach((tableElement) => {
            spektakel.program.dropEmptyColumns(tableElement);
            // spektakel.program.dropEmptyRows(tableElement);
            spektakel.program.mergeTableCells(tableElement);
        });

        updateTimeInfoCell();

        const artistFavorites = spektakel.favorites.getArtistFavorites();
        document.querySelectorAll(`td[data-artist-id]`).forEach((tdElement) => {
            const artistId = tdElement.getAttribute('data-artist-id');

            const artist = spektakel.constants.ARTISTS.find((artist) => artist.artist_id === artistId);
            if (!artist.organizational) {
                // Create tooltips
                tippy(tdElement, {
                    theme: 'light-border',
                    trigger: 'click',
                    interactive: true,
                    allowHTML: true,
                    content: 'Lade Künstler...',
                    onShow: (instance) => instance.setContent(spektakel.popover.createPopoverContentHtml(artistId, "{{ site.lang }}")),
                });

                // Highlight favorite artists
                if (artistFavorites.includes(artistId)) {
                    tdElement.classList.add('favorite');
                }
            }
        });

        setTimeout(() => {
            const locationId = window.location.hash.substring(1);
            document.querySelectorAll('.program-table-wrapper > table').forEach((tableElement) => {
                if(locationId) {
                    spektakel.program.scrollToLocationId(tableElement, locationId);
                }
            });
        }, 400);
    }

    document.addEventListener("DOMContentLoaded", onShow);
    // window.addEventListener("pageshow", onShow);

    window.addEventListener("favoritesChanged", (event) => {
        const newFavorites = event.detail;

        // update the favorite background
        document.querySelectorAll(`td[data-artist-id]`).forEach((scheduleDetail) => {
            const artistId = scheduleDetail.getAttribute('data-artist-id');
            if (newFavorites.includes(artistId)) {
                scheduleDetail.classList.add('favorite');
            } else {
                scheduleDetail.classList.remove('favorite');
            }
        });

        // update the favorite icon
        document.querySelectorAll(`i[data-artist-id]`).forEach((iconElement) => {
            const artistId = iconElement.getAttribute('data-artist-id');
            if (newFavorites.includes(artistId)) {
                iconElement.classList.add('fa-star');
                iconElement.classList.remove('fa-star-o');
            } else {
                iconElement.classList.add('fa-star-o');
                iconElement.classList.remove('fa-star');
            }
        });
    });
</script>
