<!doctype html>
<html>
  {% include head.html %}
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id={{ site.data.settings.google-tagmanager-id }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- <div class="vbg">
      <video  playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="./assets/video/Sequenz-01_2.mp4" />
      </video>
    </div> -->

    <div class="container">
      {% include header.html %}
      <div class="content-wrapper">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
