---
layout: default
title: Home
---

<div class="featured-image">
  <picture>
    <source srcset="/assets/img/spektakel-logo.webp" type="image/webp">
    <source srcset="/assets/img/spektakel-logo.png" type="image/png">
    <img class="logo-image" src="/assets/img/spektakel-logo.png" alt="spektakel-logo">
  </picture>
</div>


<div class="cards-list">
  <div class="card">
    <div class="card-header">
      <h2>18. Spektakel Landshut</h2>
      <p>11. - 15. September 2024</p>
    </div>
    <div class="card-body">
      <ul>
        <li>
          <strong>Mitte Juli</strong>
          Lineup 2024 wird im Juli 2024 auf der Website veröffentlicht
        </li>
        <li>
          <strong>Mittwoch, 11. September</strong>
          Theater beim Spektakel Landshut<br><br>
          Vorpremiere "Der kleine Prinz" im Rathaus Prunksaal Landshut
        </li>
        <li>
          <strong>Donnerstag, 12. September</strong>
          BMW Spektakel Gala im Theaterzelt Landshut<br><br>
          <a href="https://www.landshutlive.de/details/spektakel-landshut.html#details" target="_blank">Ticketverkauf ab Juli 2024 bei Messe Landshut</a>
        </li>
        <li>
          <strong>Freitag, 13. September - Sonntag, 15. September 2024</strong>
          18. Spektakel Landshut in der Altstadt, Neustadt, Salzstadel, Rathaus Prunksaal und Bernlochner
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Partner-Festival Spektakel Rosenheim</h2>
      <p>2. - 4. August 2024</p>
    </div>
    <div class="card-body spektakel-rosenheim">
      <p>
        Wer Straßenkunst schon früher erleben möchte, kann unser Partner-Festival in Rosenheim besuchen. Details zum Partner-Festival finden Sie
        <a href="https://www.ro-city.de/events/spektakel-rosenheim-2024/" target="_blank">
          hier.
        </a>
      </p>
        <picture>
          <source srcset="/assets/img/pages/spektakel-rosenheim-shrink.webp" type="image/webp">
          <source srcset="/assets/img/pages/spektakel-rosenheim-shrink.png" type="image/png">
          <img class="logo-image" src="/assets/img/pages/spektakel-rosenheim-shrink.png" alt="spektakel-logo">
        </picture>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>17. Spektakel Landshut</h2>
      <p>September 2023</p>
    </div>
    <div class="card-body" style="padding: 0;">
      <div class="youtube-video-meta-container" style="margin: 0;">
        <div class="youtube-video-container">
          <div class="no-user-consent">
            <a href="#" data-cc="show-preferencesModal">
              <picture>
                <source srcset="/assets/img/youtube/youtube-play-button.webp" type="image/webp">
                <source srcset="/assets/img/youtube/youtube-play-button.png" type="image/png">
                <img class="youtube-play-button" src="/assets/img/youtube/youtube-play-button.png">
              </picture>
            <p>Um das Video sehen zu können müssen Sie allen Cookies zustimmen.</p>
            </a>
          </div>
          <iframe id="youtube-spektakel-2023" width="560" height="315"
            title="Spektakel Landshut 2023" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const maybeEnableVideo = () => {
    const consentAnalytics = CookieConsent.acceptedCategory('analytics');
    const ytIFrame = document.getElementById('youtube-spektakel-2023');
    if (consentAnalytics){
      ytIFrame.src = 'https://www.youtube-nocookie.com/embed/DeXdXV5E7XQ?si=Y8_ZTebOA4-uY0eW';
    }
    // else {
    //   // nothing to do here, disabling analytics will reload the page!
    // }
  }
  window.addEventListener("load", (event) => {
    maybeEnableVideo();
  });
  window.addEventListener("consentChanged", (event) => {
   maybeEnableVideo();
  });
</script>



<!-- <article>
  <a href="./program">
    <div class="featured-post" style="background-image:url(/assets/img/page/program.webp)">
      <h2><span>Programm</span></h2>
    </div>
  </a>
</article>

<article>
  <a href="./locations">
    <div class="featured-post" style="background-image:url(/assets/img/page/map_small.webp)">
      <h2><span>Locations</span></h2>
    </div>
  </a>
</article>

<article>
  <a href="./artists">
    <div class="featured-post" style="background-image:url(/assets/img/page/artists.webp)">
      <h2><span>Künstler</span></h2>
    </div>
  </a>
</article>

<article>
  <a href="./impressions">
    <div class="featured-post" style="background-image:url(/assets/img/page/impressions.webp)">
      <h2><span>Impressionen</span></h2>
    </div>
  </a>
</article>

<article>
  <a href="./sponsors">
    <div class="featured-post" style="background-image:url(/assets/img/page/sponsors.webp)">
      <h2><span>Sponsoren</span></h2>
    </div>
  </a>
</article> -->
